<footer class="py-5 mt-5 bg-dark text-light">
  <div class="container">
    <div class="row gy-4">
      <div class="col-md-3">
        <h5>About</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">About Us</a></li>
          <li><a href="#" class="text-light text-decoration-none">Careers</a></li>
          <li><a href="#" class="text-light text-decoration-none">Terms</a></li>
          <li><a href="#" class="text-light text-decoration-none">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Support</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Help Center</a></li>
          <li><a href="#" class="text-light text-decoration-none">Contact</a></li>
          <li><a href="#" class="text-light text-decoration-none">FAQs</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5>Categories</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Development</a></li>
          <li><a href="#" class="text-light text-decoration-none">Business</a></li>
          <li><a href="#" class="text-light text-decoration-none">Design</a></li>
          <li><a href="#" class="text-light text-decoration-none">IT & Software</a></li>
        </ul>
      </div>
      <div class="col-md-3 text-md-end">
        <h5>Follow Us</h5>
        <div class="d-flex justify-content-md-end gap-3">
          <a href="#"><i class="bi bi-facebook fs-5 text-light"></i></a>
          <a href="#"><i class="bi bi-instagram fs-5 text-light"></i></a>
          <a href="#"><i class="bi bi-linkedin fs-5 text-light"></i></a>
          <a href="#"><i class="bi bi-youtube fs-5 text-light"></i></a>
        </div>
      </div>
    </div>

    <hr class="my-4 border-secondary">
    <div class="text-center small text-secondary">
      © 2025 Online Academy. All rights reserved.
    </div>
  </div>
</footer>
