<nav class="navbar navbar-expand-lg bg-white shadow-sm sticky-top">
  <div class="container-fluid px-4">
    <!-- Logo -->
    <a class="navbar-brand" href="/">
      <img src="/images/logo.svg" alt="Logo" height="32">
    </a>

    <!-- Nút toggle cho mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nội dung Navbar -->
    <div class="collapse navbar-collapse" id="navbarMain">
      <!-- Nút Explore -->
      <ul class="navbar-nav me-3">
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="#">Explore</a>
        </li>
      </ul>

      <!-- Ô tìm kiếm -->
      <form class="d-flex flex-grow-1 mx-2">
        <input class="form-control rounded-pill" type="search" placeholder="Tìm kiếm khóa học, chủ đề..." aria-label="Search">
      </form>

      <!-- Menu bên phải -->
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item"><a class="nav-link" href="#">Udemy Business</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Teach on Udemy</a></li>
        <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-cart fs-5"></i></a></li>
        <li class="nav-item"><a class="btn btn-outline-dark me-2" href="#">Log in</a></li>
        <li class="nav-item"><a class="btn btn-primary" href="#">Sign up</a></li>
        <li class="nav-item ms-2"><a class="btn btn-outline-secondary" href="#"><i class="bi bi-globe"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
