<div class="card">
  <h5 class="card-header">Page Not Found</h5>
  <div class="card-body">
    <h4 class="card-title">404 Not Found</h4>
    <p class="card-text">The page you are looking for does not exist.</p>
  </div>
  <div class="card-footer text-muted">Footer</div>
</div>