{{#> std_profile}}

<div class="card" style="width: 50rem;">
    <div class="card-header">
        Thông tin cá nhân của học viên
    </div>
    <div class="card-body">
        <form id="frmEditProfile" method="post" action="/student/profile-edit">
            <div class="mb-3">
                <label for="full_name" class="form-label">Họ và tên</label>
                <input type="text" class="form-control" id="full_name" name="full_name" placeholder="Nhập họ và tên">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Nhập email">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Số điện thoại</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Nhập số điện thoại">
            </div>
            <div class="mb-3">
                <label for="dob" class="form-label">Ngày tháng năm sinh</label>
                <input type="date" class="form-control" id="dob" name="dob" placeholder="Ngày tháng năm sinh">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Địa chỉ</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Nhập địa chỉ">
            </div>
            <div class="mb-3">
                <label for="bio" class="form-label">Mô tả về bản thân</label>
                <input type="text" class="form-control" id="bio" name="bio" placeholder="Nhập mô tả bản thân">
            </div>
            <div class="d-flex justify-content-between">
                <a href="/account/change-password" class="btn btn-outline-secondary">
                    <i class="bi bi-key"></i> Change password
                </a>

                <div>
                    <button class="btn btn-outline-secondary" type="button" id="btnEnable">
                        Enable change
                    </button>
                    <button class="btn btn-primary" type="submit" id="btnSave">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
{{/std_profile}}